app-mobile/node_modules/
app-mobile/.expo/
app-mobile/npm-debug.*
app-mobile/*.jks
app-mobile/*.p8
app-mobile/*.p12
app-mobile/*.key
app-mobile/*.mobileprovision
app-mobile/*.orig.*
app-mobile/web-build/

# macOS
app-mobile/.DS_Store

############################
# OS X
############################

cesi-app-api/.DS_Store
cesi-app-api/.AppleDouble
cesi-app-api/.LSOverride
cesi-app-api/Icon
cesi-app-api/.Spotlight-V100
cesi-app-api/.Trashes
cesi-app-api/._*


############################
# Linux
############################

cesi-app-api/*~


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

cesi-app-api/.tmp
cesi-app-api/*.log
cesi-app-api/*.sql
cesi-app-api/*.sqlite
cesi-app-api/*.sqlite3


############################
# Misc.
############################

cesi-app-api/*#
cesi-app-api/ssl
cesi-app-api/.idea
cesi-app-api/nbproject
cesi-app-api/public/uploads/*
!cesi-app-api/public/uploads/.gitkeep

############################
# Node.js
############################

cesi-app-api/lib-cov
cesi-app-api/lcov.info
cesi-app-api/pids
cesi-app-api/logs
cesi-app-api/results
cesi-app-api/node_modules
cesi-app-api/.node_history

############################
# Tests
############################

cesi-app-api/testApp
cesi-app-api/coverage

############################
# Strapi
############################

cesi-app-api/.env
cesi-app-api/license.txt
cesi-app-api/exports
cesi-app-api/*.cache
cesi-app-api/build
cesi-app-api/.strapi-updater.json
